.slick-center .slide-h3 {
  color: #FFF; }

.slider {
  width: 600px;
  height: 150px;
  margin: 0 auto;
  text-align: center;
  margin-top: -40px; }

.slide-h3 {
  margin: 10% 0 10% 0;
  padding: 40% 20%;
  width: 150px;
  height: 150px; }

.imagePos {
  margin-left: -33px;
  margin-top: -33px;
  width: 150px;
  height: 150px; }

.slider div {
  margin-right: 5px; }

.slick-slide {
  opacity: .4;
  width: 10px; }

.slick-center {
  display: block;
  max-width: 10% !important;
  max-height: 20% !important;
  opacity: 1; }

.slick-prev:before, .slick-next:before {
  color: black;
  line-height: 4; }

.form-container {
  font-family: 'Amatic SC', cursive;
  font-size: 30px;
  color: white;
  text-align: center;
  width: 80%;
  height: 350px;
  background-color: #76b2b7;
  position: relative;
  margin-left: 10%;
  margin-top: 15%;
  display: none; }

#formTwo {
  display: none; }

h3 {
  position: absolute;
  left: 25%; }

[type="radio"]:checked + label:after, [type="radio"].with-gap:checked + label:after {
  background-color: white; }

[type="radio"]:checked + label:after, [type="radio"].with-gap:checked + label:before, [type="radio"].with-gap:checked + label:after {
  border: 2px solid white; }

[type="radio"]:not(:checked) + label:before, [type="radio"]:not(:checked) + label:after {
  border: 2px solid white; }

[type="radio"]:not(:checked) + label, [type="radio"]:checked + label {
  font-family: 'Amatic SC', cursive;
  color: white;
  font-size: 30px; }

#one {
  position: absolute;
  top: 80px;
  left: 100px; }

#two {
  position: absolute;
  top: 80px;
  left: 400px; }

#three {
  position: absolute;
  top: 170px;
  left: 100px; }

#four {
  position: absolute;
  top: 170px;
  left: 400px; }

#pOne {
  position: absolute;
  top: 50px;
  left: 100px; }

#pTwo {
  position: absolute;
  top: 50px;
  left: 400px; }

#pThree {
  position: absolute;
  top: 120px;
  left: 100px; }

#pFour {
  position: absolute;
  top: 120px;
  left: 400px; }

#pFive {
  position: absolute;
  top: 190px;
  left: 100px; }

#pSix {
  position: absolute;
  top: 190px;
  left: 400px; }

.waves-effect {
  position: absolute;
  top: 240px;
  right: 50px; }

.btn-large {
  position: absolute;
  top: 80%;
  border-radius: 10px;
  background-color: #5CB85C;
  width: 136px;
  height: 48px;
  font-size: 25px; }

.btn-large:hover {
  background-color: #5cb85c; }

.previous {
  left: 50px; }

#formThree {
  display: none; }

#travel {
  font-size: 30px;
  left: 32%; }

#passengers {
  font-size: 30px;
  top: 130px;
  left: 35%; }

#count {
  width: 20px;
  position: absolute;
  top: 80px;
  font-size: 30px; }

#plus {
  position: absolute;
  top: 80px;
  right: 200px;
  background-color: white;
  color: black;
  border: white;
  width: 50px;
  height: 50px; }

#minus {
  position: absolute;
  top: 80px;
  left: 200px;
  background-color: white;
  border: white;
  color: black;
  width: 50px;
  height: 50px; }

#valueOne {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 205px;
  left: 30px; }

#valueTwo {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 205px;
  left: 130px; }

#valueThree {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 205px;
  left: 230px; }

#valueFour {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 205px;
  right: 230px; }

#valueFive {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 205px;
  right: 130px; }

#valueSix {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 205px;
  right: 30px; }

label > input {
  /* HIDE RADIO */
  visibility: hidden;
  /* Makes input not-clickable */
  position: absolute;
  /* Remove input from document flow */ }

label > input + img {
  /* IMAGE STYLES */
  cursor: pointer;
  border: 2px solid transparent; }

label > input:checked + img {
  /* (RADIO CHECKED) IMAGE STYLES */
  border: 2px solid #fff;
  border-radius: 100px; }

#formFour {
  display: inherit; }

#vehicle {
  left: 35%; }

#vehicleOne {
  position: absolute;
  top: 35%;
  left: 5%;
  background-color: white;
  border-radius: 20px;
  width: 155px;
  height: 105px; }

#vehicleTwo {
  position: absolute;
  top: 35%;
  left: 32.8%;
  background-color: white;
  border-radius: 20px;
  width: 185px;
  height: 105px; }

#vehicleThree {
  position: absolute;
  top: 35%;
  left: 65%;
  background-color: white;
  border-radius: 20px;
  width: 185px;
  height: 105px; }

#vehicleFour {
  position: absolute;
  top: 35%;
  left: 65%;
  background-color: white;
  border-radius: 20px;
  width: 185px;
  height: 105px;
  display: none; }

#vehicleOne > img {
  width: 150px;
  height: 100px; }

#vehicleTwo > img {
  width: 180px;
  height: 100px; }

#vehicleThree > img {
  width: 160px;
  height: 100px; }

#vehicleFour > img {
  width: 180px;
  height: 100px; }

.modal-content {
  width: 500px; }

.open {
  width: 500px; }

.modal-action {
  margin-top: -220px;
  margin-right: -20px;
  font-family: sans-serif; }

#modalimage1 {
  width: 300px;
  height: 160px;
  margin-left: 20%; }

#trip-cost > p {
  text-align: center;
  background-color: #76b2b7;
  font-size: 30px;
  color: white;
  margin-bottom: 0px; }

.style {
  border: 1px solid black;
  font-size: 25px; }

.style > p {
  margin-left: 10px; }

#modal-button {
  margin-top: 60%; }

#modal-button2 {
  margin-top: 60%; }

body {
  font-family: 'Amatic SC', cursive; }

.page-container {
  height: 100%;
  width: 100%;
  position: relative; }

#header {
  width: 100%;
  height: 150px;
  background-color: #76b2b7;
  position: relative; }

h1 {
  font-family: 'Amatic SC', cursive;
  color: white;
  position: absolute;
  left: 38%;
  font-size: 80px;
  font-weight: 400; }

#about {
  width: 80%;
  margin: 0 auto;
  margin-top: 30px;
  font-family: 'Amatic SC', cursive;
  font-size: 30px;
  text-align: center;
  margin-bottom: 0px; }

#logo {
  width: 150px;
  height: 100px;
  position: absolute;
  left: 5%;
  top: 8%; }

#logo-words {
  font-family: 'Amatic SC', cursive;
  color: white;
  position: absolute;
  bottom: -8%;
  left: 5%;
  font-size: 20px; }

#footer {
  width: 100%;
  height: 50px;
  background-color: #76b2b7;
  position: absolute;
  top: 105.5%; }

.description {
  font-family: 'Amatic SC', cursive;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 38%; }

#box2 {
  display: none; }

#box3 {
  display: none; }

#box4 {
  display: none; }

#box5 {
  display: none; }

#box6 {
  display: none; }
